blosc2~=2.0.0
certifi~>2023.7.22
contourpy~=1.1.0
cycler~=0.11.0
Cython~=0.29.35
fonttools~=4.40.0
kiwisolver~=1.4.4
matplotlib~=3.7.1
mpi4py~=3.1.4
msgpack~=1.0.5
numexpr~=2.8.4
numpy~=1.25.0
packaging~=23.1
pandas~=2.0.2
Pillow~=9.5.0
py-cpuinfo~=9.0.0
pyparsing~=3.1.0
pyproj~=3.6.0
python-dateutil~=2.8.2
pytz~=2023.3
scipy~=1.11.0
shapely~=2.0.1
six~=1.16.0
tables~=3.8.0
tzdata~=2023.3
